html,
body {
  padding-left:10px;
  padding-right:10px;
  height: 100%;
  width:100%;
  background-color: #3C1553;
  background-image: url(/public/images/body-bg.png);
  background-size: cover;
  font-family: "Open Sans"
}

body {
  /* display: flex; */
  color: #EEE;
  text-shadow: 0 .2rem .1rem rgba(0, 0, 0, .1);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover {
  margin:auto;
  max-width: 14em;
  max-height:14em;
  padding: 0rem;
  background-color: #FFF;
  border-radius: 50% !important;
  border:2px solid #FFF;
}


.main-kbc-logo {
    width: 100% !important;
}

.main-kbc-logo-container {
    margin-top: 50px;
    margin-bottom:50px;
}

.question-stmt-area {
    border-radius:20px;
    border:2px solid #999;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(23,76,130,1) 100%);
    padding:10px 15px;
    font-size:24px;
    font-weight:bold;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:40px;
}

.option-area {
    margin:10px 0px;
    width: 100%;
}

.option-block {
    margin-top:16px;
    border-radius:20px;
    border:2px solid #999;;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(23,76,130,1) 100%);
    padding:4px 10px;
    font-size:22px;
    font-weight:bold;
    cursor: pointer !important;
}

.tx {
    font-weight: bold;
    color: yellow;
}

.left-sidebar-internal { 
   font-weight: bold;
   border-radius: 24px;
   text-align:center;
   border: 2px solid silver;
   padding:12px;
   margin-top:40px;
   color: #FFF !important;
   font-size:22px;
   background: rgb(2,0,36);
   background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(23,76,130,1) 100%);
}

.right-sidebar {
    text-align:right;
}

#level-listing-toggle-switch {
    display: none;
}

#kbc-level-listing {
    display: block;
    margin-top: 20px;
    width:80%;
    float:right;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(23,8,33,1) 31%);
    border-radius: 16px;
    border:1px solid #ffc107;
    font-size: 15px;
}

#kbc-level-listing table {
    font-weight: bold;
    width:100%;
    text-align:right;
    margin:0px;
    color: #f48924;
}

.milestone {
    color: #FFF;
}

.rsl-1 {
    padding-right:20px;
    padding-left: 20px;
    font-weight:bold;
}

.rsl-2 {
    padding-right:15px;
    font-weight:bold;
}

.next {
    font-weight:bold;
}

.thanks-lower-main-container {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(23,76,130,1) 100%);
    border: 1px solid #999;
    padding:10px;
    margin-top:15px;
    
}

.thanks-lower-main-container #Line1 {
    font-size: 28px;
}

.thanks-lower-main-container #Line2 {
    color: yellow;
    font-size: 32px;
}

.thanks-lower-main-container #Line3 {
    font-size: 24px;
}

#thanks-go-home {
    margin-top:20px;
}

/* COUNTDOWN TIMER */

.item {
    position: relative;
    float: left;
}

.item h2 {
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
    font-size:46px;
}

svg {
    transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 440;
  transition: all 1s linear;
}

.active-tr {
    border:1px solid #ffc107;
    background: #ffc107;
    color: #222 !important;
}

.lifeline {
    background: #0F0522;
    color: #FFF;
    border:3px solid #999;
    height:40px;
    width:80px;
    padding:5px;
    font-family:verdana;
    font-weight:bold;
    border-radius:28px;
    cursor: pointer;
    display: inline-block;
}

.lifeline:hover {
    background:#005670;
}

.UsedLifeline {
    background:#9f9fa3 !important;
    color: #FFF !important;
}

.UsedLifeline:hover {
    background:#9f9fa3 !important;
    color: #FFF !important;
}

.life-line-container {
    margin-top:30px;
}

#PollLifeLineModal {
    color: #333 !important;
}

.abs-btns-mobile {
    display: none;
}

.abs-btns {
    display: block;
}


/* LOADER CSS */
.loader {
    background:rgba(249, 249, 249, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    display: none;
}

.center-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size:70px;
    margin-top:-50px;
    margin-left:-50px;
    color: #ffc107;
}

/* RESPONSIVE DESIGN RULES */

@media only screen and (max-width: 600px) {
    .thanks-lower-main-container #Line1 {
        font-size: 18px;
      }
    
    .thanks-lower-main-container #Line2 {
      font-size: 20px;
    }

    .thanks-lower-main-container #Line3 {
        font-size: 16px;
    }

    .question-stmt-area {
        border-radius:16px;
        border:1px solid #999;
        padding:10px 15px;
        font-size:16px;
        font-weight:bold;
        margin-top:10px;
        margin-left:6px;
        margin-right:6px;
        margin-bottom:20px;
    }
    
    .option-block {
        margin-top:12px;
        border-radius:16px;
        border:1px solid #999;;
        padding:4px 6px;
        font-size:14px;
        font-weight:bold;
        cursor: pointer !important;
    }

    .left-sidebar-internal { 
        border-radius: 14px;
        text-align:center;
        border: 1px solid silver;
        padding:6px;
        margin-top:15px;
        color: #FFF !important;
        font-size:16px;
     }
      
     .item h2 {
        text-align:center;
        position: absolute;
        line-height: 25px;
        font-size:20px;
        width: auto;
        padding:8px;
        font-weight: bold;
        border:3px solid #ffc107;
        border-radius: 50%;
    }

    .item svg {
        display: none;
    }

    .cover {
        max-width: 9em;
        max-height: 9em;
        border:1px solid #FFF;
    }

    .lifeline {
        background: #0F0522;
        color: #FFF;
        border:2px solid #999;
        height:30px;
        width:60px;
        padding:3px;
        font-family:verdana;
        font-weight:bold;
        border-radius:28px;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
    }

    .life-line-container {
        margin-top:5px;
    }

    #level-listing-toggle-switch {
        display: block;
        border:1px solid silver;
    }

    #kbc-level-listing {
        display: none;
    }

    .walkaway, .next {
        font-size: 14px !important;
    }

    .abs-btns-mobile {
        display: block;
        margin-top:20px !important;
    }

    .abs-btns {
        display: none;
    }
}
